{% extends 'layoutDebug.html.twig' %}

{% block title %}Boolean{% endblock %}

{% block content %}

<h1>
    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    <span class='typeDebug' >{{type}}</span>
    <span class="dataDebug"> {{data}}</span>
</h1>

{% endblock content %}
